# .NET
bin/
obj/
*.user
*.suo

# Flutter
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/build/
apps/mobile/.idea/
apps/mobile/**/Pods/

# Local Postgres data
.pgdata/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp

# Secrets
.env
.env.*
!.env.example

# Test results
TestResults/

# Redis local dump
dump.rdb

# Flutter generated / platform noise
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/ios/Flutter/ephemeral/
apps/mobile/ios/Flutter/Generated.xcconfig
apps/mobile/ios/Flutter/flutter_export_environment.sh
apps/mobile/ios/Flutter/Flutter.podspec
